
/*Navegador*/

nav{
    display: flex;
    width:100%;
    height: 95px;
    border-top: 5px solid black;
    img{
        display: inline-block;
        width:48px;
        height: 48px;
        margin-top: 22px;
        margin-left: 22px;
    }

     ul{
        display: none;
        position: absolute;
        width:100%;
        height: 480px;
        background-color: black;
        opacity: 90%;
        top:10%;

       li{
          
           width:100%;
           height: 60px; 
           list-style: none;
           text-align: center;
           padding-top: 25px;
           border-bottom: 1px  solid white;
           img{
             display: none;
           }
           
          a{
            text-decoration: none;
            color:white;
            
            font-size: 15px;
           }
       }
    }

    .close {
        display: none; }
      input {
        display: none; 
    }
        input:checked ~ ul {
          display: block; 
        }
       input:checked ~ .close {
        display: block; }
 
        input:checked ~ .open {
          display: none; }

     label{
     
         margin-left:70%;
         margin-top: 35px;
         color:white;
     }
}






/*Media Queries*/

@media screen and (min-width:700px){

  nav{
    display: flex;
      
    img{
      width:60px;
      height: 60px;
      margin-left: 100px;
    }
    ul{
      display: block;
      position: relative;
      width: 80%;
      height: 95px;
      text-align: center;
      background-color: transparent;    
      padding-top: 22px;
      

      li{
        display: inline;
        margin-left: 30px;
        border-bottom: none;
        .crear{
          display: block;
          width: 54px;
          height: 54px;
          position: absolute;
          display: inline-block;
          top:-2px;
          margin-left: 20px;
          text-align: center;
          font-size: 30px;
          background-color: white;
          color:#37383C;
          font-family: Arial, Helvetica, sans-serif;
          border:1px solid #37383C;
          border-radius: 50%;
        }

        .crear:hover{
          background-color:black;
          color:white;
          transition: 500ms all;
          cursor: pointer;
        }
        

        a{
          font-size: 12px;
        }
      }
    }
    input ~ label{
      display: none;
    }
  }   
}



@media screen and (min-width:1200px){
   nav{
     ul{
       margin-left: 20vw;
       li{
         margin-left: 50px;
         a{
         font-size: 14px;
        }
       }
       
     }
   }
}






/*PIE DE PAGINA*/
footer{
    width: 100%;
    height: 180px;
    font-family:'Roboto', sans-serif; 

    .compartir-en{
        text-align: center;
        margin-top: 47px;

        .icons{
            display: block;
           .fab{
            display:inline-block;
            margin: 35px 10px 0px 10px;
           
            font-size: 19px;
            color:#CDD6E0;
            }
            .fab:hover{
                cursor: pointer;
                transform: scale(1.3);
                transition:300ms all;
                color:#572EE5;
                
            }
        }
        
    }


    p{
        margin-top: 47px;
    }

    border-bottom: 5px solid black;
}




@media screen and (min-width:700px){

    footer{
    
        
        height: 130px;
       .compartir-en {
           display: inline-block;
           margin: 20px 0px 0px 50px;
           font-size: 13px;
           
           .icons{
               display: inline-block;
           }  
       }

       p{
           
           display: inline;
           font-size: 13px;
           margin-left: 35vw;
          
       }
    }
}




@media screen and (min-width:1000px){
    footer{
        p{
          margin-left: 55vw;
        }
    }
}

@media screen and (min-width:1200px){
    footer{
        p{
          margin-left: 65vw;
        }
    }
}